header{
    background-color: #65CBD3;
}

h1 a
{
    font-family: 'Permanent Marker', cursive;
    color: #A67D52;
    margin: 0px 30px;
}

h1 a:hover{
    text-decoration: none;
    color: #9b6c3a;
}

img{
    width: 80px;
    height: 80px;
    /*position: absolute;*/
}

table, th, td {
    border-collapse: collapse;
    border: solid 1px white;
    padding: 0px;

    margin: auto;
}

td{
    width: 80px;
    height: 80px;
}