header{
    background-color: #65CBD3;
}

h1 a
{
    font-family: 'Permanent Marker', cursive;
    color: #A67D52;
    margin: 0px 30px;
}

h1 a:hover{
    text-decoration: none;
    color: #9b6c3a;
}

.btn{
    margin: 10px 10px;
    border: solid #A67D52 1px;
    color: #A67D52;
    font-size: 1.2rem;
}

.btn:hover{
    border: solid #9b6c3a 1px;
    color: #9b6c3a;
    background-color: rgba(155, 108, 58, 0.2);
    font-size: 1.2rem;
}

i{
    margin-right: 10px;
}

body{
    background-color: rgba(100, 202, 211, 0.5);
}

main{
    margin: 80px 0px;
    font-size: 2rem;
}

footer{
    padding-left: 20px;
    font-style: italic;
}